.blog-detail-menu {
    display: flex;
    margin: 24px 0 8px;

    li {
        &:last-child {
            a {
                color: #aa0601;
            }
        }

        a {
            color: #000;
        }
    }

    span {
        margin: 0 4px;
    }
}

.main-tags {
    display: flex;
    gap: 15px;
    font-size: 24px;
    margin-bottom: 8px;

    a {
        color: #aa0601;
        font-weight: 700;
    }
}

.blogDetail {
    display: flex;
    gap: 24px;

    article {
        width: 70%;

        .article-title {
            font-size: 48px;
        }

        h4 {
            font-size: 24px;
            margin-bottom: 16px;
        }

        img {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 40px;
        }
    }

    aside {
        width: 22%;
        font-weight: 700;

        .aside-tags-title {
            display: flex;
            align-items: center;
            font-size: 32px;
            color: #AA0601;

            span {
                font-size: 48px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;


            li {
                margin-right: 24px;
                margin-bottom: 4px;

                a {
                    font-size: 24px;
                    color: #AA0601;
                }
            }
        }
    }

    @media (max-width:768px) {
        aside {
            .aside-tags-title {
                font-size: 16px;

                span {
                    font-size: 24px;
                }
            }

            ul {
                font-size: 16px;
                margin-bottom: 0;

                li {
                    a {
                        font-size: 16px;
                    }
                }
            }


        }

    }

    @media (max-width:576px) {
        margin-bottom: 64px;
        article {
            width: 100%;
        }

        aside {
            display: none;
        }
    }
}


.blogDetail-footer {
    width: 70%;
    margin-bottom: 80px;

    .blogDetail-footer-social {
        display: flex;
        gap: 16px;

        li {
            font-weight: 700;
        }

        img {
            width: 24px;
            height: 24px;
        }
    }

    .blogDetail-footer-arrow {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #707070;
        padding-top: 24px;
        margin-top: 16px;

        li {
            a {
                display: flex;
                align-items: center;
                gap: 12px;
                color: #000;
            }

        }
    }
}

@media (max-width:768px) {
    .blogDetail-footer {
        width: 100%;
    }
}

@media (max-width:576px) {
    .blogDetail-footer {
        display: none;
    }
}