.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;


    @media (max-width: 768px) {

        padding: 0 36px;


    }

    @media (max-width: 375px) {

        padding: 0 13px;

    }
}







header {
    background: #AA0601;

    .header-content {

        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 80px;
            height: 72px;
            object-fit: contain;
        }

        .navbar {
            display: flex;
            gap: 64px;

            a {
                color: #fff;

                &::after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background: #fff;
                    transition: .4s, .2s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        .mobile-menu {
            display: none;

            span {
                color: #fff;
                font-size: 40px;
            }

        }

    }

    .mobile-show {
        display: none;

        .mobile-navbar {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            gap: 10px;
            border-top: 1px solid #fff;
            padding: 20px 0;

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: 640px) {
        .header-content {
            .navbar {
                display: none;
            }

            .mobile-menu {
                display: block;
            }

        }

        .mobile-show {
            display: block;
            max-height: 0;
            overflow: hidden;
        }

        .open.mobile-show {
            max-height: 100px;
            transition: 1.5s;
        }
    }

}



.product-nav {
    display: flex;
    justify-content: center;

    li {
        width: 34%;
        border: 1px solid #DCDCDC;
        border-right: none;

        &:last-child {
            border-right: 1px solid #DCDCDC;
        }

        a {
            display: block;
            text-align: center;
            font-weight: 500;
            padding: 24px 0;
            font-size: 32px;
            color: #000;
            border-bottom: 8px solid transparent;

            &:hover {
                border-bottom: 8px solid #AA0601;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 0;

        li {
            a {
                font-size: 24px;
            }
        }
    }

    @media (max-width: 576px) {
        li {
            a {
                padding: 16px 0;
                font-size: 16px;
            }
        }
    }
}



.blog-menu {
    background: #650300;

    .blog-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0;

        ul {
            display: flex;
            gap: 48px;

            a {
                color: #fff;
            }
        }

        span {
            color: #fff;
            font-size: 40px;
        }
    }
}

@media (max-width:576px){
    .blog-menu{
        display: none;
    }
}











footer {
    background: #AA0601;
    padding: 48px 0 32px;
    color: #fff;


    li {
        a {
            color: #fff;
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;

        .footer-link {
            display: flex;
            gap: 48px;
            margin-bottom: 36px;
        }



        .footer-contract {
            li {
                margin-bottom: 8px;
            }

            a {
                display: flex;
                align-items: center;
                gap: 16px;

                span {
                    font-size: 48px;
                }

                p {
                    font-size: 36px;
                }
            }
        }


        .footer-social {
            display: flex;
            gap: 32px;

            img {
                width: 48px;
                height: 48px;
            }
        }



    }



    .copyright {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #fff;
        padding-top: 32px;
        margin-top: 32px;

        ul {
            display: flex;
            gap: 48px;
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {

        .footer-content {
            .footer-social {
                gap: 16px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }


    @media (max-width: 768px) {
        padding: 48px 0 40px;

        .footer-content {
            .footer-link {
                display: none;
            }

            .footer-contract {
                a {
                    span {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .footer-social {
                gap: 8px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .copyright {
            flex-direction: column;
            padding-top: 16px;
            margin-top: 24px;

            p {
                margin-bottom: 8px;
            }

            ul {
                flex-direction: column;
                gap: 8px;
            }
        }



    }

    @media (max-width: 375px) {
        padding: 24px 0;

        .footer-content {
            flex-direction: column;
        }
    }


}