.banner {
    height: 787px;
    background: url("../images/home-header.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    .container{
        width: 100%;
    }

    .banner-text {
        text-align: right;
        color: #650300;

        P {
            font-size: 36px;
        }

        h2 {
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 4px;
        }

        a {
            color: #fff;
            font-size: 20px;
            background: #AA0601;
            padding: 6px 12px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        background: url("../images/home-header-sm.png") no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 576px){
    .banner{
        height: 396px;
        .banner-text{
            padding: 144px 0;
            p{
                font-size: 16px;
            }
            h2{
                font-size: 24px;
                margin-bottom: 16px;
            }

        }
    }
}

main {
    .indexTitle {
        font-size: 48px;
        text-align: center;
        color: #650300;
        margin-bottom: 48px;
        font-weight: 700;
    }

    @media (max-width: 576px){
        .indexTitle{
            font-size: 24px;
        }
    }

    .work {
        background: #FBF2F2;
        padding: 80px 0;

        .indexTitle {
            margin-bottom: 24px;
        }

        ul {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;

            li {
                width: 23%;

                img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 16px;
                }

                h4 {
                    font-weight: 700;
                    margin-bottom: 8px;
                    color: #650300;
                }

                p {
                    text-align: left;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .work {
            ul {
                li {
                    width: 40%;
                }
            }
        }
    }

    @media (max-width: 576px){
        .work {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }

    .classic {
        padding: 80px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 24px;

            li {
                width: 30%;

                img {
                    margin-bottom: 8px;
                }

                h4 {
                    font-style: italic;                    font-size: 48px;
                    color: #AA0601;
                    font-weight: 700;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .classic {
            ul {
                li {
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .classic {
            ul {
                li {
                    width: 50%;

                    p {
                        font-size: 48px;
                    }
                }
            }
        }
    }
    @media (max-width: 576px){
        .classic {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 375px){
        .classic {
            ul {
                li {
                    p {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    .design {
        background: url("../images/index-bg.png");
        padding: 80px 0;

        .indexTitle {
            color: #fff;
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                width: 50%;

                .designLeft {
                    height: 240px;
                    background: url("../images/home-section4-1.png") no-repeat center;
                    background-size: cover;
                }

                .designRight {
                    height: 240px;
                    background: url("../images/home-section4-2.png") no-repeat center;
                    background-size: cover;
                }

                h4 {
                    font-style: italic;
                    color: #AA0601;
                    background: #fff;
                    font-size: 48px;
                    font-weight: 700;
                    text-align: center;
                    padding: 8px 0;
                }
            }

        }
    }

    @media (max-width: 768px) {
        .design {
            ul {
                li {
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
        }
    }

    @media (max-width: 768px){
        .design {
            ul {
                li {
                   .designLeft{
                    background: url("../images/home-section4-1-sm.png") no-repeat center;
                    background-size: cover;
                   }
                   .designRight{
                    background: url("../images/home-section4-2-sm.png") no-repeat center;
                    background-size: cover;
                   }
                }
            }
        }
    }

    

    .comment {
        padding: 80px 0;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;

            li {
                width: 22%;
                border: 1px solid #DEE2E6;
                box-shadow: 0px 2px 6px #00000029;
                border-radius: 4px;

                .comment-text {
                    padding: 16px;
                    height: 205px;
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: 500;
                        margin-bottom: 8px;
                    }

                    .date {
                        margin-top: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        .comment {
            ul {
                li {
                    width: 43%;
                }
            }
        }
    }

    @media (max-width: 576px){
        .comment {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
    

    .contract {
        padding: 80px 0;
        background: #FBF2F2;

        .container {
            max-width: 636px;
        }

        .contract-info {
            font-size: 20px;
            margin-bottom: 24px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 8px;
            }

            input {
                margin-bottom: 16px;
                padding: 6px 12px;
                background: transparent;
                border: 1px solid #650300;
            }

            textarea {
                padding: 6px 12px;
                resize: none;
                height: 136px;
                margin-bottom: 16px;
                background: transparent;
                border: 1px solid #650300;
            }

            .check {
                margin-bottom: 48px;
            }

            button {
                width: 65%;
                margin: 0 auto;
                background: #AA0601;
                color: #fff;
                font-weight: 700;
                border: none;
                padding: 16px 0;
                cursor: pointer;
                &:hover{
                    background: #650300;
                }
            }
        }
    }
}