.location-detail-content {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;

    .location-detail-item {
        width: 40%;

        h3 {
            font-size: 24px;
            padding: 8px 24px;
            border: 1px solid #00000020;
        }

        .location-detail-text {
            padding: 16px 24px;
            border: 1px solid #00000020;

            li {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 20px;
                margin-bottom: 8px;

            }
        }
    }
    .location-map{
        width: 60%;
    }
}

@media (max-width: 992px) {
    .location-detail-content{
        flex-direction: column;
        .location-detail-item{
            width: 100%;
            display: flex;
            gap: 24px;
            img{
                width: 50%;
            }
        }
        .location-map{
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .location-detail-content{
        flex-direction: column;
        .location-detail-item{
            flex-direction: column;
            gap: 0px;
            img{
                width: 100%;
            }
        }
        .location-map{
            width: 100%;
        }
    }
}