@mixin underline {
    display: block;
    color: #fff;

    &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background: #fff;
        transition: .4s, .2s;
    }

    &:hover::after {
        width: 100%;
    }
}