main {
    .comment-title {
        font-size: 48px;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin: 96px 0 32px;
        font-weight: 700;
    }

    @media (max-width: 576px) {
        .comment-title{
            font-size: 24px;
            margin: 40px 0 24px;
        }
    }
   

    .question-content{
        margin-bottom: 80px;
        h3{
            font-size: 24px;
            margin-bottom: 24px;
            font-weight: 700;
        }
        .question-item{
            margin-bottom: 32px;
            h4{
                font-size: 20px;
                margin-bottom: 8px;
                font-weight: 700;
            }
        }
    }
}